version: "3.9"
services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    links:
      - "selenium:selenium"
    volumes:
      - app-dev-output:/app-dev/output
    ports:
      - "8888:8888"
  selenium:
    image: seleniarm/standalone-chromium
    ports:
      - "4444:4444"
volumes:
  app-dev-output:
